{% extends 'ui_components/form_template_1.html' %}
{% load static %}

{% comment %} {% block static %}
  <script src="{% static 'assignment/add-question.js' %}" ></script>
  <link rel="stylesheet" href="{% static 'ui_components/form_template_1.css' %}">  
{% endblock static %} {% endcomment %}

{% block title %}
  Assignment | Add question
{% endblock title %}

{% block heading %}
  Add questions
{% endblock heading %}


{% block form %}
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    <div class='form' style='display:flex; flex-flow:column;'>
      {{ form }}
    </div>
  {% endfor %}
  <button class='icon-button dynamic-formset' form-model='questions' >
    <i class="material-icons" style="font-size:18px">add</i>
    Add question
  </button>
  <input type="submit" />
{% endblock form %}
