{% extends 'ui_components/detail_template_1.html' %}
{% load static %}

{% block title %}
  Assignment | {{object.name}}
{% endblock title %}

{% block heading %}
  {{ object.name|capfirst }}
{% endblock heading %}

{% block sub-info %}
  <p>Deadline:  {{ object.deadline }}</p>
  <p>Created on:  {{ object.date_created.date }} </p>
  <p>Questions: {{ question_count }}</p>
{% endblock sub-info %}

{% block actions %}
  {% if is_tutor %}
    {% include 'assignment/tutor_actions.html' %}
  {% elif is_student %}
    {% include 'assignment/student_actions.html' %}
  {% endif %}
{% endblock actions %}

{% block detail %}
  <div class='detail primary'>
    <p class='detail-heading' >About this assignment :</p>
    <p class='detail-content'>{{ object.description|capfirst }}</p>
  </div>
  {% include 'ui_components/detail_btn_primary.html' with btn_text='Submit' btn_icon='send' btn_onclick='location.href="submit"' %}
  <div class='detail secondary'>
      <p class='detail-heading'>Questions:</p>
      {% for question in questions %}
        <p class='detail-content'>{{question.question|capfirst}}</p>
        <hr style='border-width:.5px; border-color:rgb(200,200,200); margin:20px 0 20px 0;'>
      {% endfor %}
    </div>
  
{% endblock detail %}