{% extends 'ui_components/list_template_1.html' %}
{% load static %}

{% block title %}
  All assignments
{% endblock title %}
  
{% block list_static %}
  <link rel="stylesheet" href="{% static 'assignment/list.css' %}">
{% endblock list_static %}

{% block heading %}
  All assignments
{% endblock heading %}

{% block actions %}

{% endblock actions %}
  {% if is_tutor %}
    <a class='btn' href="create"><i class='material-icons'>add</i>Create new</a>
  {% endif %}

{% block list %}        
  {% for assignment in object_list %}
    <div class='list_item' >
      <p class='item-heading'>{{ assignment.name|capfirst }}</p>
      <p class='description'>{{ assignment.description|capfirst }}</p>
      <div class='action'>
        <a href="{{assignment.id}}/submit" class='btn'>Submit</a>
        <a href="{{assignment.id}}" class='btn'>View</a>
      </div>
    </div>
    <hr style='border: .5px dashed rgb(200,200,200); margin:40px 0 40px 0;'>
  {% endfor %}
{% endblock list %}  
</html>
