{% extends 'ui_components/list_template_1.html' %}
{% load static %}

{% block list_static %}
    <link rel="stylesheet" href="{% static 'assignment/submission.css' %}">
{% endblock list_static %}

{% block title %}
    Assignment | Submissions
{% endblock title %}

{% block heading %}
    Submissions
{% endblock heading %}

{% block breadcrumbs %}
    <li><a href="{% url 'dashboard:home' %}">Home</a></li>
    <li>></li>
    <li><a href="{% url 'course:list' course_type=course_type %}">{{course_type|capfirst}}</a></li>
    <li>></li>
    <li><a href="{% url 'course:detail' course_type=course_type id=course_id %}">Course</a></li>
    <li>></li>
    <li><a href="{% url 'assignment:all' course_type=course_type course_id=course_id %}">All assignments</a></li>
    <li>></li>
    <li><a href="{% url 'assignment:detail' course_type=course_type assignment_id=assignment_id course_id=course_id %}">Assignment</a></li>
    <li>></li>
{% endblock breadcrumbs %}

{% block list %}
    {% for user in object_list %}
        <div class='list-item'>
            <p class='item-heading'>{{ user.0.user.first_name|capfirst }} {{ user.0.user.last_name|capfirst }}</p>
            {% for submission in user %}
                <div class='sub-list row' >
                    <p class='description clip'><span>Question:</span> {{ submission.question.question }}</p>
                    {% if submission.solution.url %}
                        <a target='_blank' class='btn' href="{{ submission.solution.url }}">View</a>
                    {% else %}
                        <a class='dead-link' href="">No submission</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    <hr style='border: .5px dashed rgb(200,200,200); margin:20px 0 20px 0;'>
    {% endfor %}
    
    
    
{% endblock list %}