{% extends 'ui_components/form_template_1.html' %}
{% load static %}

{% block title %}
  Submit assignment
{% endblock title %}

{% block heading %}
  Submit assignment
{% endblock heading %}


{% block form_enctype %}
  enctype='multipart/form-data'
{% endblock form_enctype  %}

{% block form %}
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.non_field_errors }}
    <p class='text'><p style='color:blue;'> Question:</p>{{ form.question.question }}</p>
    {{form.solution.label_tag}}
    {{ form.solution.errors }}
    <label class='file' for="{{ form.solution.id_for_label }}"> <p>Choose file</p>{{ form.instance.solution }}</label>
    {{ form.solution }}
    <div class='hr' ></div>
  {% endfor %}
    <input type="submit" value='Submit'>
{% endblock form %}