{% extends 'ui_components/list_template_1.html' %}
{% load static %}

{% block title %}
  All quizzes
{% endblock title %}
  
{% block list_static %}
  <link rel="stylesheet" href="{% static 'quiz/list.css' %}">
{% endblock list_static %}

{% block heading %}
  All quizzes
{% endblock heading %}

{% block breadcrumbs %}
  <li><a href="{% url 'dashboard:home' %}">Home</a></li>
  <li>></li>
  <li><a href="{% url 'course:list' course_type=course_type %}">{{course_type|capfirst}}</a></li>
  <li>></li>
  <li><a href="{% url 'course:detail' course_type=course_type id=course_id %}">Course</a></li>
  <li>></li>
{% endblock breadcrumbs %}

{% block actions %}
  {% if is_tutor %}
    <a class='btn' href="create"><i class='material-icons'>add</i>Create new</a>
  {% endif %}
{% endblock actions %}

{% block list %}        
  {% for quiz in object_list %}
    <div class='list_item' >
      <p class='item-heading'>{{ quiz.name|capfirst }}</p>
      <p class='description'>{{ quiz.description|capfirst }}</p>
      <div class='action'>
        {% if is_tutor %}
          <a href="{{quiz.id}}/submissions" class='btn'>Submissions</a>
        {% comment %} {% elif is_student %}
          <a href="{{quiz.id}}/submission" class='btn'>Submission</a> {% endcomment %}
        {% endif %}
        <a href="{{quiz.id}}" class='btn'>View</a>
      </div>
    </div>
    <hr style='border: .5px dashed rgb(200,200,200); margin:20px 0 40px 0;'>
  {% endfor %}
{% endblock list %}  
</html>
