<div class='actions'>
        <a href="submissions" title = 'View submissions' >
            <i class='material-icons'>
                list
            </i>
            <p>View submissions</p>
        </a>
        <a href="add-question" title = 'Add question'>
            <i class='material-icons'>
                note_add
            </i>
            <p>Add questions</p>
        </a>
        <a href="update" title = 'Edit Quiz'>
            <i class='material-icons'>
                edit
            </i>
            <p>Edit quiz</p>
        </a>
</div>