{% extends 'ui_components/form_template_1.html' %}
{% load static %}

{% block title %}
  Update quiz
{% endblock title %}

{% block heading %}
  Update quiz
{% endblock heading %}

{% block breadcrumbs %}
  <li><a href="{% url 'dashboard:home' %}">Home</a></li>
  <li>></li>
  <li><a href="{% url 'course:list' course_type='my-courses' %}">My-courses</a></li>
  <li>></li>
  <li><a href="{% url 'course:detail' course_type='my-courses' id=course_id %}">Course</a></li>
  <li>></li>
  <li><a href="{% url 'quiz:all' course_type='my-courses' course_id=course_id %}">All quizzes</a></li>
  <li>></li>
  <li><a href="{% url 'quiz:detail' course_type='my-courses' course_id=course_id quiz_id=quiz_id %}">Quiz</a></li>
  <li>></li>
{% endblock breadcrumbs %}

{% block form %}
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update">
{% endblock form%}