.form-nested {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  .checkbox {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin: 0 15px 0 0 !important;
    background-color: #f3f4f5;
    pointer-events: all !important;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    i {
      font-weight: bold;
      display: none;
      color: white;
      font-size: 18px;
      margin-right: 3px;
    }
  }
  input {
    display: none;
    &:checked {
      ~ .checkbox {
        background-color: blue;
        i {
          display: block;
        }
      }
    }
  }
}
