.content {
  background-color: white;
  -webkit-box-shadow: 0 4px 15px rgba(110, 110, 110, 0.2);
          box-shadow: 0 4px 15px rgba(110, 110, 110, 0.2);
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 50px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.content .header {
  padding: 30px;
}

.content .header h1 {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
}

.content .header .assignment-info {
  grid-area: tutor-info;
  margin-top: 20px;
  font-weight: 300;
}

.content .header .assignment-info p {
  margin: 5px 0 5px 0;
  font-size: 13px;
}

.content .header .hr {
  width: 100%;
  height: 0;
  border: 0.5px inset #adadad;
}

.content .header .hr.upper {
  margin-top: 30px;
  margin-bottom: 10px;
}

.content .header .hr.lower {
  margin-top: 10px;
}

.content .header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border-radius: 5px;
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .header .actions a {
  width: 40%;
  text-decoration: none;
  margin: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: black;
}

.content .header .actions a p {
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
}

.content .header .actions a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  border-radius: 50%;
  color: white;
  background-color: #4c2fc9;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.content .detail {
  margin: 20px 40px 20px 40px;
  font-weight: 300;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .detail div {
  margin: 0 0 50px 0;
}

.content .detail div .heading {
  margin-top: 0;
  font-weight: 300;
  font-size: 30px;
  color: #464646;
}

.content .detail div .detail-content {
  color: #464646;
  font-size: 18px;
  margin-left: 10px;
}

.content .specilized-action {
  font-family: "Noto Sans JP", sans-serif;
  margin: 40px;
}

.content .specilized-action .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  height: 55px;
  width: 120px;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  background-color: #4c2fc9;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.content .specilized-action .btn:hover {
  -webkit-box-shadow: 0 7px 15px rgba(110, 110, 110, 0.7);
          box-shadow: 0 7px 15px rgba(110, 110, 110, 0.7);
}

.content .specilized-action .btn#delete {
  background-color: #f83b3b;
}

.content .specilized-action .btn i {
  font-size: 18px;
  padding: 0 0 0 5px;
}
/*# sourceMappingURL=detail.css.map */