.list-item {
  margin: 10px 40px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.list-item .sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 0 10px;
}

.list-item .sub-list .description {
  font-size: 14px;
}

.list-item .sub-list .description.clip {
  white-space: nowrap;
  width: 55vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-item .sub-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-right: 50px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.list-item .sub-list a.dead-link {
  cursor: default;
  color: grey;
}

.list-item .description {
  margin: 10px;
  font-size: 13px;
  color: grey;
}

.list-item .description.cilp {
  text-overflow: clip;
  white-space: nowrap;
}

.list-item a {
  text-decoration: none;
}

.list-item p {
  margin: 10px;
  width: 100%;
}

.list-item .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.list-item .action .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #4c2fc9;
  color: white;
  height: 35px;
  width: 80px;
  margin: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.list-item .action .btn:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.list-item .hr {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0.5px inset #b1b1b1;
  clear: both;
  display: just block;
  width: 100%;
  background-color: #adadad;
  height: 0px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=submission.css.map */