{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'ui_components/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap" rel="stylesheet">
    <script src="{% static 'ui_components/base.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block static %}
    {% endblock static %}
    
    {% block title %}
    {% endblock title %}
</head>
<body>
    <div class="navbar">
      <a class='logo' href="{% url 'authentication:signup' %}">NEBULA</a>
      
      <div class='navbar-items' >
        {% if user.is_authenticated %}
          {% include 'ui_components/assignment_dropdown.html' %}
          {% include 'ui_components/course_dropdown.html' %}
          {% include 'ui_components/logout_btn.html' %}
        {% else %}
          {% block navbar-items %}
          {% endblock navbar-items%}
        {% endif %}  
      </div>
    </div>
    <div class='content'>
      {% block body %}
      {% endblock body %}
    </div>
</body>
</html>
