{% extends 'ui_components/base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'ui_components/detail_template_1.css' %}">
{% endblock static %}

{% block body %}
      <div class = 'header'>
        <div class='info'>
          <ul class='breadcrumb'>
            {% block breadcrumbs %}
            {% endblock breadcrumbs %}
          </ul>
          <h1 class='heading'>
            {% block heading %}
            {% endblock heading %}
          </h1>
          <div class='sub-info'>
              {% block sub-info %}
              {% endblock sub-info %}
          </div>
          <hr style="border:.5px dashed rgb(200,200,200); margin: 30px 0 10px 0">
          <div class='actions'>
            {% block actions %}
            {% endblock actions %}
          </div>
          <hr style="border:.5px dashed rgb(200,200,200); margin: 10px 0 0 0">
        </div>
        <div class='image'>
            {% block image %}
            {% endblock image %}
        </div>
      </div>
    {% block detail %}
    {% endblock detail %}
    
{% endblock body %}