{% extends 'ui_components/base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'ui_components/list_template.css' %}">
{% endblock static %}

{% block body %}
    <div class='header'>
        <h1 class='heading'>
            {% block heading %}
            {% endblock heading %}
        </h1>
    {% if is_tutor %}
      <a class='btn' href="create"><i class='material-icons'>add</i>Create new</a>
    {% endif %}
    </div>
    <div class='list'>
      {% for assignment in object_list %}
      <p>{{ assignment.name|capfirst }}</p>
      <p class='description'>{{ assignment.description|capfirst }}</p>
      <div class='action'>
        <a href="{{assignment.id}}/submit" class='btn'>Submit</a>
        <a href="{{assignment.id}}" class='btn'>View</a>
      </div>
      <div class='hr'></div>
    {% endfor %}
    </div>
{% endblock body %}  