{% extends 'ui_components/base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'ui_components/list_template_1.css' %}">
    {% block list_static %}{% endblock list_static %}
{% endblock static %}

{% block body %}
    <div class='header'>
        <h1 class='heading'>
            {% block heading %}
            {% endblock heading %}
        </h1>
        <div class='actions'>
            {% block actions %}
            {% endblock actions %}
        </div>
    </div>
    <div class='list'>
    {% block list %}
    {% endblock list %}
{% endblock body %}  